<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/images/favicon.ico" rel="icon">

  <title>William Bao</title>  

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('./static/assets/images/astro.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>I am William Bao</h1>
      <p>M.A.Sc Candidate, Research Associate</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://github.com/WillBao33" title="">
          <i class="fa fa-github"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/williambao-mechatronics/" title="">
          <i class="fa fa-linkedin"></i>
        </a>
      </p>
    </div>
  </header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./static/assets/images/astro.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p>Hello, my name is William. I am a recent graduate of Ontario Tech University, where I earned a Master of Applied Science degree. My thesis work, which focused on sidewalk segmentation and route planning, has deeply engaged me in the field of machine and deep learning. This engagement was further enriched through advanced coursework in computer vision and machine learning during my graduate studies.</p>
              <p>I possess a strong proficiency in Python, demonstrated through my extensive use of libraries such as PyTorch, OpenCV, Matplotlib, Pandas, and Scikit-learn. Beyond Python, my technical skills extend to C++ and Docker, among other technologies, positioning me well for a broad range of machine learning projects.</p> 
              <p>My objective is to pursue a career as a Machine Learning Engineer or Data Scientist, where I can leverage my expertise to develop innovative AI models. I am committed to contributing to the growth of organizations and enhancing the quality of daily life through technological advancements. With my robust skill set, hands-on experience, and adaptability, I am confident in my ability to be a valuable asset to your team.</p>

              </div>
            </div>
          </div>
        </div>
        
        <style>
          /* Add this style block to your existing CSS or within a <style> tag in the head of your HTML */
          .h5 {
            min-height: 60px; /* Adjust this value as needed to fit your longest title */
          }
        </style>
        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div class="row">
              <div class="col-md-4">
                <a href="https://github.com/WillBao33/Masters_Thesis" target="_blank">
                  <img src="./static/assets/images/sidewalk.jpg" class="img-responsive" alt="">
                  <h3 class="h5">Sidewalk Extraction and Route Planning</h3>
                </a>
                <p>November 2023</p>
              </div>
              <div class="col-md-4">
                <a href="https://github.com/WillBao33/Fine-Art-Portrait" target="_blank">
                  <img src="./static/assets/images/portrait.jpg" class="img-responsive" alt="">
                  <h3 class="h5">Fine Art Portrait Creator</h3>
                </a>
                <p>April 2023</p>
              </div>
              <div class="col-md-4">
                <a href="https://youtu.be/Mtrd7-1e9eA?si=iKHfCpexmlJgyP7q" target="_blank">
                  <img src="./static/assets/images/robot.jpg" class="img-responsive" alt="">
                  <h3 class="h5">Weld Inspection Robot</h3>
                </a>
                <p>November 2018</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Work</h2>
            <div class="work-experience">
              <small class="date">September 2021-April 2022</small>
              <h3 class="h5 date-title">AI Associate - <a href="https://mechsolutions.com/" title="">Mech Solutions</a></h3>
              
              <p>Deployed various deep learning models on NVIDIA Jetson Nano.</p>
              <p>Deveopped a machine learning model, Printability, to predict 3D printing results based on slicing parameters.</p>
              <p>Contributed to multiple conferece paper on 3D printing failure detection topics.</p>
            </div>

            <div class="work-experience">
              <small class="date">July 2019-May 2018, Aug 2020-May 2020</small>
              <h3 class="h5 date-title">Application Engineer Intern - <a href="https://bluewrist.com/" title="Create professionnal website">Bluewrist</a></h3>
              <p>Installed and tested Bluewrist product, including robots, vision system, and PLC programming.</p>
              <p>Performed robotic offline programming in a simulation environment.</p>
              <p>Prepared all types of mechanical drawings</p>
              <p>Operated hand and power tools.</p>
              <p>Ensured that engineering deliverables (e.g., drawings, specifications, analysis) complied with applicable regulations, standards, corporate procedures and sound engineering practices.</p>
            </div>

            
          </div>
        </div>
        

        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2023-2021</small>
                  <h3 class="h5 date-title">M.A.Sc</h3>
                  <p>Ontario Tech University</p>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2021-2016</small>
                  <h3 class="h5 date-title">B.Eng. in Mechatronics Engineering</h3>
                  <p>Ontario Tech University</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Language</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">English  <small>Fluent</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Chinese (Mandarin)  <small>Fluent</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-block">
            <h2>Contact</h2>
            <form action="/submit_form" method="post" class="reveal-content">
              <div class="form-group">
                <input name="email" type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="message" class="form-control" rows="5" placeholder="Enter your message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class=" btn btn-primary">Send message</button>
              </div> 
            </form>
          </div>
        </div>
        
       
     </div>
   </div>
 </div>

</main>
<!--
<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><img src="./static/assets/images/mashup-icon.svg" alt=""></p>
        
        <p>©All right reserved. Design <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
        <p>
          <a class="fa-icon fa-icon-2x" href="https://facebook.com/" title="">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://twitter.com/" title="">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://dribbble.com/" title="">
            <i class="fa fa-dribbble"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/" title="">
            <i class="fa fa-linkedin"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://vimeo.com/" title="">
            <i class="fa fa-vimeo"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
-->
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--><script type="text/javascript" src="./static/main.bc58148c.js"></script></body>

</html>